html,
body,
h1,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
    margin-top: 30px;
}

h2,
h3,
h4,
h5 {
    font-family: 'Averia Serif Libre', cursive;
    font-style: italic;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

hr {
    clear: both;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.mdl-layout__header {
    background-color: white;
}

.mdl-layout-title {
    color: black;
    font-family: 'Averia Serif Libre', cursive;
    font-style: italic;
    font-weight: 900;
}

.overview,
.code-snippet,
.resources {
    height: calc(100vh - 64px - 32px);
    overflow-y: scroll;
}

.sidebar-topic {
    text-align: center;
    background-color: #3d3d3d;
    color: white !important;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 900;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.sidebar-topic:hover {
    color: black !important;
}

/*Landing*/
.landing-bg {
  background-color: cyan;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

/*Overview*/

.overview {
    padding: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cecece;
}

.topic-heading {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.overview-img {
    margin-top: 30px;
    margin-bottom: 30px;
}



/*Code snippet*/

.code-snippet {
    background-color: #f5f2f0;
}

.mdl-tabs__tab {
    font-family: 'Averia Serif Libre', cursive;
    text-transform: initial;
    font-size: 16px;
}

.mdl-tabs__tab.is-active:after {
    background-color: red !important;
}

.mdl-tabs__tab-bar {
    background-color: white;
}

pre {
    margin: 0;
}



/*Resources*/

.resources {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #cecece;
    padding: 10px;
    margin: 2px;
}

.external-sources {
    height: 45%;
    min-height: 250px;
    margin: 1px;
    padding-top: 0;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cecece;
}

.comments {
    height: 45%;
    min-height: 250px;
    margin: 0;
}

.comments-content {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cecece;
    margin: 1px;
}

.input-box {
    width: 70%;
}

.submit-btn {
    width: 25%;
    margin-left: 2%;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 10%;
}

.dateStamp {
    clear: left;
    float: right;
}

.commentContent {
    clear: right;
    float: left;
}

.moocs {
    height: 60%;
    min-height: 80px;
    margin: 1px;
}

.resource_col {
    overflow: hidden;
}

.scrollBox {
    height: 150px;
    width: 95%;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px
}

.eduPic {
    width: 30%;
    margin: 1%;
    margin-left: 1%;
    display: inline-block;
}

.educationSection {
    justify-content: center;
}

.MDNimage {
    width: 100%;
}
